<header>
            
    <h2>
        <label for="">
            <span class="las la-bars"></span>
        </label>
        Dashboard
    </h2>
    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="search here" />
    </div>
    <div class="user-wrapper">
        <img src="img/2.jpg" width="30px" height="30px" alt="">
        <div>
            <h4>Jhon Doe</h4>
            <small>Super admin</small>
        </div> 
    </div>
</header>