<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="breadcrumb breadcrumb-style ">
                      <li class="breadcrumb-item">
                          <h2 class="page-title">Registrar Nomina</h2>
                      </li>
                      <li class="breadcrumb-item bcrumb-1">
                          <a routerLink="/nomina/listar">
                              <i class="fas fa-home"></i> Listado</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</section>

<div class="container-fluid px-1 py-2 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <div class="card">            
            <form [formGroup]="nominaForm" class="form-card" (ngSubmit)="cerar()">

              <div class="row justify-content-between text-left">                
                <div class="form-group col-sm-6 flex-column d-flex"> 
                  <label class="form-control-label px-3">Documento empleado<span class="text-danger"> *</span></label> 
                  <input validar type="text" id="documentoempleadoNomina" name="documentoempleado" (change)="changeDocumentoempleado()" placeholder="Numero documento nomina"
                    class="form-control" formControlName="documentoempleado">
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex"> 
                  <label class="form-control-label px-3">Periodo<span class="text-danger"> *</span></label> 
                  <input validar type="text" id="periodoNomina" name="periodo" placeholder="Periodo"
                  class="form-control" formControlName="periodo">
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex"> 
                  <label class="form-control-label px-3">Valor<span class="text-danger"> *</span></label> 
                  <input validar type="text" id="valorNomina" name="valor" placeholder="Valor"
                  class="form-control" formControlName="valor">
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-12 flex-column d-flex"> 
                  <label class="form-control-label px-3">Compania</label> 
                  
                  <select id="companiaidNomina" name="companiaid" placeholder="Compania"
                                  class="form-control" formControlName="companiaid">
                    <option [value]="compania.id" *ngFor="let compania of listaCompanias | async ">{{ compania.razonsocial }}</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="form-group col-sm-6"> 

                  <div class="card-header">
                    <button id = 'guardarnomina' type="submit">
                        <i class="fas fa-save"></i> <span class="las la--arrow-right"> Guardar</span>
                    </button>
                </div>
              </div>
            </div>
            </form>
            <div class="row justify-content-between text-left">
              <div *ngIf="msg && msg.length > 0" class="alert alert-danger" role="alert">
                <label class="msg-nomina">{{ msg }}</label>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>