<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="breadcrumb breadcrumb-style ">
                      <li class="breadcrumb-item">
                          <h2 class="page-title">Registrar Nomina</h2>
                      </li>
                      <li class="breadcrumb-item bcrumb-1">
                          <a routerLink="/nomina/listar">
                              <i class="fas fa-home"></i> Listado</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</section>

<div class="container-fluid px-1 py-2 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <div class="card">            
            <form [formGroup]="nominaForm" class="form-card" (ngSubmit)="cerar()">

              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex"> 
                  <label class="form-control-label px-3">Tipo de documento<span class="text-danger"> *</span></label> 

                  <select id="tipodocumentoNomina" name="tipodocumento" placeholder="Tipo de documento compañia"
                        class="form-control" formControlName="tipodocumento">
                    <option [value]="td.id" *ngFor="let td of tiposdocumento">{{td.nombre}}</option>
                  </select>
                </div>
                <div class="form-group col-sm-6 flex-column d-flex"> 
                  <label class="form-control-label px-3">Número de documento<span class="text-danger"> *</span></label> 
                  <input validar type="text" id="numerodocumentoNomina" name="numerodocumento" (change)="changeNumerodocumento()" placeholder="Numero documento nomina"
                    class="form-control" formControlName="numerodocumento">
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-12 flex-column d-flex"> 
                  <label class="form-control-label px-3">Razón social<span class="text-danger"> *</span></label> 
                  <input validar type="text" id="razonsocialNomina" name="razonsocial" placeholder="Razon social nomina"
                  class="form-control" formControlName="razonsocial">
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-12 flex-column d-flex"> 
                  <label class="form-control-label px-3">Analista</label> 
                  
                  <select id="analistaidNomina" name="analistaid" placeholder="Analista"
                                  class="form-control" formControlName="analistaid">
                    <option [value]="analista.id" *ngFor="let analista of analistas">{{analista.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="form-group col-sm-6"> 

                  <div class="card-header">
                    <button type="submit">
                        <i class="fas fa-save"></i> <span class="las la--arrow-right"> Guardar</span>
                    </button>
                </div>
              </div>
            </div>
            </form>
            <div class="row justify-content-between text-left">
              <div *ngIf="msg && msg.length > 0" class="alert alert-danger" role="alert">
                {{ msg }}
              </div>
            </div>
          </div>
      </div>
  </div>
</div>