body{
    background:#f3f3f3!important;
    margin-top:20px;
    color: #616f80;
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 70% auto;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header {
    padding: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 0rem;
    font-size: .9rem;
    color: #222;

}

tr td:last-child {
    display: flex;
    align-items: center;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;

}