
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 Ceiba Software 
                        | Desarrollado por <a rel="sponsored" href="#" target="_blank">Jorge Ivan Henao</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </footer>