    <!-- The sidebar -->
    <div  id="sidebar-container" class="sidebar">
        <div class="logo">
            <h4 class="text-light font-weight-bold">Templune</h4>
        </div>

        <div class="menu">
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-apps"></i>Opcion 1</a>
            <a href="/compania/listar" class="d-block text-light p-3"><i class="icon ion-md-apps"></i>Compañias</a>
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-apps"></i>Opcion 1</a>
        </div>
    </div>
    