<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-diaspora"></span><span>S. Integrales</span></h2>
    </div>
 
    <div class="sidebar-menu">
        <ul>
            <li>
                <a routerLink="/home" class="active">
                    <span class="las la-igloo"></span>
                    <span>Dashboard</span></a>
            </li>
            <li>
                <a routerLink="/compania/listar" >
                    <span class="las la-users"></span>
                    <span>Compañias</span></a>
            </li>
            <li>
                <a routerLink="/nomina/listar" >
                    <span class="las la-clipboard-list"></span>
                    <span>Nomina</span></a>
            </li>
            <li>
                <a href="index.html">
                    <span class="las la-shopping-bag"></span>
                    <span>Orders</span></a>
            </li>
            <li>
                <a href="index.html">
                    <span class="las la-user-circle"></span>
                    <span>accounts</span></a>
            </li>
        </ul>
    </div>
</div>